<div>
    <div class="row">
        <div class="col-9 offset-1 col-md-3 offset-md-3 col-lg-2 offset-lg-5">
            <img src="../../assets/headshot small.jpg" alt="Headshot">
        </div>
    </div>
    <div class="row">
        <mat-card class="col-9 offset-1 col-lg-8 offset-lg-2">
            <mat-card-content>
                <h1>Hi, I'm Matt, a Full Stack Developer in the New York City area.</h1>
                <br>
                <h3>
                    I enjoy working with all aspects of the technology stack, whether that be the user experience, database schema, or the API that glues them together.
                    My goal is to always develop and contribute to products that are both user friendly and performant.
                </h3>
                <br>
                <h3>
                    I consider myself a lifelong learner, who aims to continuously grow in both hard and soft skills.
                    Here are a few technologies that I have been working with recently:
                </h3>
                <ul>
                    <li>Node.js</li>
                    <li>Typescript</li>
                    <li>Angular / NgRx</li>
                    <li>Vue.js / Vuex</li>
                    <li>MongoDB</li>
                    <li>PostgreSQL</li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
</div>