li {
    display: block;
    width: 50%;
    float: left;
}


.mat-card {
    height: 100%;
}

.mat-list-item-span {
    margin-left: 20px;
}

@media only screen and (max-width: 600px) {
    .mat-list-item {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}