<div>
    <mat-grid-list cols="7" rowHeight="1:1">
        <mat-grid-tile colspan="2"></mat-grid-tile>
        <mat-grid-tile colspan="3" rowspan="2">
            <mat-card>
                <mat-card-header>
                    <mat-card-title class="mat-display-3">Get In Touch</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-list>
                        <mat-list-item>
                            <a mat-stroked-button color="accent" href="mailto:matt.gillespie24@gmail.com" target="_blank">
                                <mat-icon>alternate_email</mat-icon>
                            </a>
                            <span class="mat-list-item-span">Email</span>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <button mat-stroked-button color="accent" (click)="navGitHub()">
                                <mat-icon svgIcon="github"></mat-icon>
                            </button>
                            <span class="mat-list-item-span">GitHub</span>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <button mat-stroked-button color="accent" (click)="navLinkedin()">
                                <mat-icon svgIcon="linkedin"></mat-icon>
                            </button>
                            <span class="mat-list-item-span">LinkedIn</span>
                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
